<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">
Event Scheduling
</a>
   </div>
   
   <ul class="nav navbar-nav navbar-right">
   <li> <%= link_to "Home", root_path,class: "btn btn-lg btn-primary" %></li>
     <li> <%= link_to "Signup", sign_up_path,class: "btn btn-lg btn-primary" %></li>
     </ul>
 </div>
</nav>
<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :user_name %><br />
    <%= text_field_tag :user_name, params[:user_name] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>

  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
